---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-security.*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-reserved-identifier,
  -bugprone-switch-missing-default-case,
  -bugprone-branch-clone,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-suspicious-realloc-usage
HeaderFilterRegex: 'src/(modes|util|io|search|config|gpu|platform|sort|crypto)/'
WarningsAsErrors: ''
